@import "tailwindcss";

@plugin "tailwindcss-animate";

@utility my-rotate-y-180 {
  transform: rotateY(180deg);
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility perspective {
  perspective: 1000px;
}

@utility backface-hidden {
  backface-visibility: hidden;
}
